*{
    box-sizing: border-box;
}

.procedure-item{
    width: 20%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    .heading{
        font-size: 24px;
        color: black;
        margin: 20px 0;
    }
    .title{
        font-size: 18px;
        color: rgb(73, 73, 73);
    }
    &:not(.procedure-item:last-child){
        border-right: 0.5px solid rgba(93, 93, 93, 0.174);
    }
}