.shop {
  width: 1200px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text {
      margin: 50px 0;
    }
    &-right {
      a {
        text-decoration: none;
      }
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .productWrapper {
    display: flex;
    .product {
      flex: 3;
      .search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .section {
          width: 30%;
        }
      }
      &-total{
        font-size: 15px;
      }
      &-item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        justify-items: center;
      }
    }
    .categories {
      flex: 1;
    }
  }
}
